{% extends "_base.html" %}
{% block title %}Sorting Algorithms{% endblock %}
{% block content %}

<section id="Sorting_algorithm-page">
    <h1>Sorting Algorithms</h1>

    <div class="work-buttons">
        <a href="/works/sorting_algorithms/bubble_sort"><button class="work-btn">Bubble Sort</button></a>
        <a href="/works/sorting_algorithms/selection_sort"><button class="work-btn">Selection Sort</button></a>
        <a href="/works/sorting_algorithms/insertion_sort"><button class="work-btn">Insertion Sort</button></a>
        <a href="/works/sorting_algorithms/mergesortvisualizer"><button class="work-btn">Merge Sort</button></a>
        <a href="/works/sorting_algorithms/quick_sort"><button class="work-btn">Quick Sort</button></a>
    </div>
</section>
{% endblock %}
